Question 1: The percent of the total variation of the dependent variable Y explained by the set of independent variables X is measured by

Answer:
The coefficient of skewness measures the asymmetry of the distribution of a single variable. It does not directly quantify the relationship or variation explained by the independent variables.

The coefficient of correlation, often represented by the Pearson correlation coefficient (r), measures the strength and direction of the linear relationship between two variables. It does not specifically capture the proportion of the variation in the dependent variable explained by the independent variables.

Multicollinearity refers to the presence of high correlation or interdependence among the independent variables in a regression model. It does not directly measure the percentage of variation explained by the independent variables.

Therefore, the correct measure to quantify the percentage of the total variation of the dependent variable Y explained by the set of independent variables X is the coefficient of determination.

Question 2: How do you define a Residual

Answer: The formula for calculating residuals is:

Residual = Observed Value - Predicted Value

Residuals represent the unexplained variation in the dependent variable that is not accounted for by the independent variables in the regression model. They provide a measure of how well the model fits the data, as smaller residuals indicate a better fit.

Now, regarding the term "type 1 error," it is not directly related to residuals. Type 1 error is a concept associated with hypothesis testing and occurs when the null hypothesis is wrongly rejected, implying a false positive conclusion. It refers to the situation where a statistical test incorrectly indicates a significant effect or relationship when, in reality, no such effect or relationship exists.

therefore the anwer is Y-Y^

Question : The straight line graph of the equation Y = a + BX, the slope is horizontal if

Answer
From the equation of a straight line Y = a + BX
a is the intercept and b is the slope, and the slope is the ratio of the change in y (vertical) to the change in x(horizontal). when the slope is horizontal it means that there is no change in vertical axis (dy=0). therefore b=0

Question: Which of the one is true about Heteroskedasticity?

Heteroskedasticity refers to a situation in regression analysis where the variability of the error term (residuals) is not constant across different levels of the independent variables. In other words, the variance of the error term is not consistent throughout the range of the independent variables.

Among the options provided, the true statement about heteroskedasticity is:

Heteroskedasticity is present when linear regression has varying error terms

Question: Generally, which of the following method(s) is used for predicting continuous dependent variables?

1. Linear Regression

2. Logistic Regression

Linear Regression: Linear regression is a statistical modeling technique used to establish a relationship between a dependent variable and one or more independent variables. It assumes a linear relationship between the independent variables and the continuous dependent variable. The goal is to create a linear equation that best fits the data and can be used for prediction or inference.

Logistic Regression: Logistic regression, on the other hand, is used for predicting categorical dependent variables, specifically binary outcomes (e.g., yes/no, true/false). It models the relationship between the independent variables and the probability of the binary outcome using a logistic function.

Therefore, when predicting continuous dependent variables, linear regression is the appropriate method to use.

Question:
    From the following options below, which of these is/are true about “Ridge” or “Lasso” regression methods in case of feature selection?

Answer: 
Ridge regression and Lasso regression are both regularization techniques used in linear regression to handle multicollinearity and improve model performance. While they can help with feature selection indirectly by reducing the impact of less important features, they do not directly perform subset selection of features in the same way as dedicated feature selection methods.
therefore none of the above is the answer

Question: Which of the following sentences is/are true about outliers in Linear Regression:

Answer: Outliers are data points that significantly deviate from the overall pattern or trend of the data. They can have a substantial impact on the estimation of the regression coefficients and, consequently, on the model's predictions.

In linear regression, the model aims to find the best-fit line that minimizes the sum of squared residuals (the vertical distances between the observed data points and the predicted values on the line). Outliers, which lie far away from the majority of the data, can distort the line and affect the calculation of the regression coefficients.
Linear regression is sensitive to outliers

Question:
Which of the following metrics can be used for evaluating regression models?

1. R Squared

2. Adjusted R Squared

3. F Statistics

4. RMSE / MSE / MAE

Answer:
They are all used for evaluating regression models

Question: A best fit line relating X and Y has a R-Squared value of 0.75. How do I interpret this information?

Answer: This simply means that 75% of the variance in Y is explained by X.
An R-squared value of 0.75 means that 75% of the variance in the dependent variable (Y) can be explained by the independent variable (X) using the best-fit line. In other words, the linear relationship captured by the best-fit line accounts for 75% of the variability observed in the dependent variable

Question:
Which of the following measures is optimal for comparing the goodness of the fit of competing regression models involving the same dependent variable?

answer:
when comparing the goodness of fit of competing regression models involving the same dependent variable, the R-squared value is the most appropriate measure to evaluate and compare the models' performance.

Question: The Lasso can be interpreted as least-squares linear regression where:

Answer: 
In Lasso regression, the weights (coefficients) of the model are regularized using the L1 norm penalty. The L1 norm, also known as the L1 regularization or L1 penalty, encourages sparsity in the weight vector by promoting some of the weights to be exactly zero. This helps in feature selection, as it allows the Lasso to automatically perform feature selection by shrinking the less important features to zero.

Question:
From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_absolute_error

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# Remove columns 'date' and 'lights'
df = df.drop(['date', 'lights'], axis=1)
df.head(2)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Appliances,19735.0,97.694958,102.524891,10.000000,50.000000,60.000000,100.000000,1080.000000
T1,19735.0,21.686571,1.606066,16.790000,20.760000,21.600000,22.600000,26.260000
RH_1,19735.0,40.259739,3.979299,27.023333,37.333333,39.656667,43.066667,63.360000
T2,19735.0,20.341219,2.192974,16.100000,18.790000,20.000000,21.500000,29.856667
RH_2,19735.0,40.420420,4.069813,20.463333,37.900000,40.500000,43.260000,56.026667
T3,19735.0,22.267611,2.006111,17.200000,20.790000,22.100000,23.290000,29.236000
RH_3,19735.0,39.242500,3.254576,28.766667,36.900000,38.530000,41.760000,50.163333
T4,19735.0,20.855335,2.042884,15.100000,19.530000,20.666667,22.100000,26.200000
RH_4,19735.0,39.026904,4.341321,27.660000,35.530000,38.400000,42.156667,51.090000
T5,19735.0,19.592106,1.844623,15.330000,18.277500,19.390000,20.619643,25.795000
RH_5,19735.0,50.949283,9.022034,29.815000,45.400000,49.090000,53.663333,96.321667
T6,19735.0,7.910939,6.090347,-6.065000,3.626667,7.300000,11.256000,28.290000
RH_6,19735.0,54.609083,31.149806,1.000000,30.025000,55.290000,83.226667,99.900000
T7,19735.0,20.267106,2.109993,15.390000,18.700000,20.033333,21.600000,26.000000
RH_7,19735.0,35.388200,5.114208,23.200000,31.500000,34.863333,39.000000,51.400000
T8,19735.0,22.029107,1.956162,16.306667,20.790000,22.100000,23.390000,27.230000
RH_8,19735.0,42.936165,5.224361,29.600000,39.066667,42.375000,46.536000,58.780000
T9,19735.0,19.485828,2.014712,14.890000,18.000000,19.390000,20.600000,24.500000
RH_9,19735.0,41.552401,4.151497,29.166667,38.500000,40.900000,44.338095,53.326667
T_out,19735.0,7.411665,5.317409,-5.000000,3.666667,6.916667,10.408333,26.100000
Press_mm_hg,19735.0,755.522602,7.399441,729.300000,750.933333,756.100000,760.933333,772.300000
RH_out,19735.0,79.750418,14.901088,24.000000,70.333333,83.666667,91.666667,100.000000
Windspeed,19735.0,4.039752,2.451221,0.000000,2.000000,3.666667,5.500000,14.000000
Visibility,19735.0,38.330834,11.794719,1.000000,29.000000,40.000000,40.000000,66.000000
Tdewpoint,19735.0,3.760707,4.194648,-6.600000,0.900000,3.433333,6.566667,15.500000
rv1,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530
rv2,19735.0,24.988033,14.496634,0.005322,12.497889,24.897653,37.583769,49.996530

In [5]:


# Extract the predictor variable (x = T2) and the target variable (y = T6)
x = df[['T2']]
y = df['T6']

# Create and fit the linear regression model
model = LinearRegression()
model.fit(x, y)
# Obtain the predictions
predictions = model.predict(x)

# Calculate the R-squared value
r_squared = r2_score(y, predictions)
rounded_r_squared = round(r_squared, 2)
print("R-squared value: ", rounded_r_squared)

R-squared value:  0.64

Question:
Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [6]:

# Normalize the dataset using MinMaxScaler
scaler = MinMaxScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
# Split dataset into predictor variables (X) and target variable (y)
X = X_scaled.drop('Appliances', axis=1)
y = X_scaled['Appliances']
# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Fit the multiple linear regression model on the training set
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)
rounded_mae = round(mae, 2)
print("Mean Absolute Error (MAE): ", rounded_mae)

Mean Absolute Error (MAE):  0.05

Question:
    What is the Residual Sum of Squares (in two decimal places)?

In [7]:
# Calculate the residual sum of squares (RSS)
residuals = y_test - y_pred
rss = sum(residuals ** 2)
# print the Residual Sum of Squares (in two decimal places)
print("Residual Sum of Squares (RSS): ", round(rss,2))

Residual Sum of Squares (RSS):  45.35

Question:
What is the Root Mean Squared Error (in three decimal places)?

In [8]:
from sklearn.metrics import mean_squared_error

# Calculate the root mean squared error (RMSE)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE): ", round(rmse,3))

Root Mean Squared Error (RMSE):  0.088

Question:
What is the Coefficient of Determination (in two decimal places)?

In [9]:
# Calculate the coefficient of determination 
r2 = r2_score(y_test, y_pred)
print("Coefficient of Determination: ", round(r2,2))

Coefficient of Determination:  0.15

Question:
    Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [10]:
# Obtain the feature weights (coefficients) from the linear model
feature_weights = pd.DataFrame({'Features': X.columns, 'Weights': model.coef_})

# Sort the feature weights in ascending order
feature_weights = feature_weights.sort_values(by='Weights')

# Identify the features with the lowest and highest weights
lowest_weight_feature = feature_weights.iloc[0]['Features']
highest_weight_feature = feature_weights.iloc[-1]['Features']

print("Feature with the lowest weight: ", lowest_weight_feature)
print("Feature with the highest weight: ", highest_weight_feature)

Feature with the lowest weight:  RH_2
Feature with the highest weight:  RH_1

Question:
    Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [11]:

from sklearn.linear_model import Ridge


# Train a ridge regression model with alpha=0.4
ridge_model = Ridge(alpha=0.4)
ridge_model.fit(X_train, y_train)

# Make predictions on the test set
predictions = ridge_model.predict(X_test)

# Calculate the RMSE on the test set
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("Root Mean Squared Error (RMSE) with Ridge Regression: ", rmse)

Root Mean Squared Error (RMSE) with Ridge Regression:  0.0875144494766171

question 19:
Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [12]:

from sklearn.linear_model import Lasso

# Train a Lasso regression model with alpha=0.001
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Obtain the feature weights from the Lasso model
feature_weights = pd.DataFrame({'Features': X.columns, 'Weights': lasso_model.coef_})

# Count the number of features with non-zero weights
non_zero_features = (feature_weights['Weights'] != 0).sum()

print("Number of features with non-zero weights: ", non_zero_features)

Number of features with non-zero weights:  4

Question 20:
    What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [13]:
# Train a Lasso regression model with alpha=0.001
lasso_model = Lasso(alpha=0.001)
lasso_model.fit(X_train, y_train)

# Make predictions on the test set
predictions = lasso_model.predict(X_test)

# Calculate the RMSE on the test set
rmse = mean_squared_error(y_test, predictions, squared=False)
print("Root Mean Squared Error (RMSE) with Lasso Regression: ", round(rmse,3))

Root Mean Squared Error (RMSE) with Lasso Regression:  0.094